spring:
  datasource:
    url: jdbc:mysql://localhost:3306/dronecup_db
    username: root
    password: SQL1234
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080
